body {
  background-color: #2d3436;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.header {
  padding: 15px;
}

.main-card {
  background-color: white;
  border-radius: 5px;
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.img {
  border-radius: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 15px;
}

.details-container {
  flex: 2;
}

.avatar-container {
  flex-basis: 100px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: antiquewhite;
  align-items: center;
  padding: 15px;
}

button {
  height: 50px;
  width: 100px;
}
